/* Main */

#main button {
    z-index: 100;
    color: #bbf;
    background: #333;
    border: 2px solid #55F;
    padding: 1px 10px;
    margin: 3px;
    border-radius: 4px;
}

#main button:hover {
    z-index: 102;
    color: #fff;
    background: #444;
    transition: 0.25s;
}

#main button:active {
    z-index: 101;
    color: #55F;
    background: #bbf;
    transition: 0.1s;
}

#main button:disabled {
    z-index: 100;
    color: #88B;
    background: #222;
}

#main input {
    z-index: 110;
    color: #bbf;
    background: #333;
    border: 2px solid #55F;
    padding: 1px 10px;
    margin: 3px;
    border-radius: 4px;
    outline: none;
}

#main input:not([type=checkbox]):hover {
    z-index: 112;
    color: #fff;
    background: #444;
    transition: 0.25s;
}

#main input:not([type=checkbox]):focus {
    z-index: 111;
    color: #fff;
    background: #444;
}

#main input:disabled {
    z-index: 110;
    color: #88B;
    background: #222;
}

#main select {
    z-index: 120;
    color: #bbf;
    background: #333;
    border: 2px solid #55F;
    padding: 0px;
    margin: 3px;
    border-radius: 4px;
    outline: none;
    overflow-y: hidden;
    scrollbar-width: none;
    transition: 0.25s;
}

#main select:hover {
    z-index: 122;
    color: #fff;
    background: #444;
    margin-bottom: -80px;
    height: 108px;
    overflow-y: scroll;
    scrollbar-width: auto;
    transition: 0.25s;
}

#main select:focus {
    z-index: 121;
    color: #fff;
    background: #444;
    margin-bottom: -80px;
    height: 108px;
    overflow-y: scroll;
    scrollbar-width: auto;
    transition: 0.25s;
}

#main select:disabled {
    z-index: 120;
    color: #88B;
    background: #222;
}


/* Page - Portal - SubPage */

#SubPage_page select {
    margin: -1px -1px;
    padding: 1px 1px;
    font-size: 75%;
    height: 29px;
    border-radius: 0px;
    border: 2px solid #111;
    background: #333;
}

#SubPage_page_row1 select {
    margin: 1px -1px;
    height: 28px;
    font-size: 75%;
    border: 2px solid #44F;
}


/* Footer */

#footer_buttons button {
    border: 2px solid #222;
    background: #44F;
    padding-bottom: 2px;
}

#footer_buttons button:hover {
    background: #66F;
}