/* body */

#body button:disabled {
    z-index: 100;
    color: #88B;
    background: #222;
}

#body input:disabled {
    z-index: 110;
    color: #88B;
    background: #222;
}

#body select:disabled {
    z-index: 120;
    color: #88B;
    background: #222;
}