@font-face {
  font-family: OpenDyslexic;
  src: url("./OpenDyslexic/OpenDyslexicR.otf") format("opentype");
}
@font-face {
  font-family: OpenDyslexic;
  font-weight: bold;
  src: url("./OpenDyslexic/OpenDyslexicB.otf") format("opentype");
}
@font-face {
  font-family: OpenDyslexic;
  font-style: italic;
  src: url("./OpenDyslexic/OpenDyslexicI.otf") format("opentype");
}
@font-face {
  font-family: OpenDyslexic;
  font-weight: bold;
  font-style: italic;
  src: url("./OpenDyslexic/OpenDyslexicBI.otf") format("opentype");
}
