/* Main */

html {
    scroll-behavior: smooth;
}

body {
    background: #111;
    color: #55F;
    padding: 10px;
}

#main {
    background: #111;
    max-width: 1080px;
    min-width: 375px;
    margin: 0px auto;
}

#main button {
    z-index: 100;
    color: #bbf;
    background: #333;
    border: 2px solid #55F;
    padding: 1px 10px;
    margin: 3px;
    border-radius: 4px;
}

#main button:hover {
    z-index: 102;
    color: #fff;
    background: #444;
    transition: 0.25s;
}

#main button:active {
    z-index: 101;
    color: #55F;
    background: #bbf;
    transition: 0.1s;
}

#main button:disabled {
    z-index: 100;
    color: #88B;
    background: #333;
}

#main input {
    z-index: 110;
    color: #bbf;
    background: #333;
    border: 2px solid #55F;
    padding: 1px 10px;
    margin: 3px;
    border-radius: 4px;
    outline: none;
}

#main input:hover {
    z-index: 112;
    color: #fff;
    background: #444;
    transition: 0.25s;
}

#main input:focus {
    z-index: 111;
    color: #fff;
    background: #444;
}

#main select {
    z-index: 120;
    color: #bbf;
    background: #333;
    border: 2px solid #55F;
    padding: 0px;
    margin: 3px;
    border-radius: 4px;
    height: 27px;
    outline: none;
    overflow-y: hidden;
    scrollbar-width: none;
    transition: 0.25s;
}

#main select:hover {
    z-index: 122;
    color: #fff;
    background: #444;
    margin-bottom: -108px;
    height: 108px;
    overflow-y: scroll;
    scrollbar-width: auto;
    transition: 0.25s;
}

#main select:focus {
    z-index: 121;
    color: #fff;
    background: #444;
    margin-bottom: -108px;
    height: 108px;
    overflow-y: scroll;
    scrollbar-width: auto;
    transition: 0.25s;
}


/* Navigation */

#nav {
    background: #222;
    font-size: 150%;
    padding: 5px;
    margin: 15px auto;
    border-radius: 10px;
}

#nav_logo {
    width: 12%;
    min-width: 78px;
    position: relative;
}

#nav_title {
    font-size: 50%;
    width: 80%;
    padding: 5px;
    margin: 0px auto;
}

#nav_buttons {
    width: 80%;
    padding: 4px;
    margin: 0px auto;
}


/* Page */

#page {
    background: #222;
    padding: 5px;
    margin: 15px auto;
    border-radius: 10px;
}


/* Page - Home */



/* Page - Scripts */

#page_scripts {
    display: flex;
}

#page_scripts_buttons {
    width: 10%;
    min-width: 60px;
    font-size: 75%;
    border-right: 10px solid #111;
    margin-right: 10px;
}

#page_scripts_buttons button {
    width: 90%;
    word-wrap: break-word;
}

#page_scripts_body {
    width: 90%;
}

#page_scripts_body h1 {
    text-align: center;
}

#page_scripts_body_login {
    display: flex;
    margin-bottom: 20px;
}

#page_scripts_body_login_txt {
    width: 25%;
}

#page_scripts_body_login_inp {
    width: 75%;
}

#page_scripts_body_login p {
    margin: 3px;
    padding: 2px;
}

#page_scripts_body_login input {
    width: 90%;
}


/* Page - Scripts - Asset Manager */

#Asset\ Manager {}

#Asset\ Manager_nav {
    width: 95%;
    padding: 6px 0px;
    margin: 0px auto;
    border-bottom: 4px dotted #111;
    margin-bottom: 10px;
    display: flex;
}

#Asset\ Manager_nav button {
    border: 2px solid #44F;
    font-size: 75%;
}

#Asset\ Manager_nav_main {
    width: 60%;
}

#Asset\ Manager_nav_main h2 {
    margin: 10px auto;
    text-align: center;
}

#Asset\ Manager_nav_options {
    width: 40%;
}

#Asset\ Manager_page {
    margin: 10px 10px 10px 0px;
}

#Asset\ Manager_page p {
    margin: -1px -1px;
    padding: 0px 1px;
    border: 2px solid #111;
    text-align: center;
    font-size: 75%;
    word-wrap: break-word;
    background: #1F1F1F;
    color: #44F;
}

#Asset\ Manager_page button {
    padding: 1px 3px;
    font-size: 75%;
    word-wrap: break-word;
    background: #333;
    border: 2px solid #44F;
}

#Asset\ Manager_page select {
    margin: -1px -1px;
    padding: 0px 1px 3px 1px;
    font-size: 75%;
    border-radius: 0px;
    border: 2px solid #111;
    background: #333;
}

#Asset\ Manager_page_row1 select {
    margin: 1px -1px;
    padding: 0px 1x 3px 1px;
    border: 2px solid #44F;
}

#Asset\ Manager_page input {
    margin: -1px -1px;
    padding: 1px 1px 4px 1px;
    font-size: 75%;
    border-radius: 0px;
    border: 2px solid #111;
}

#Asset\ Manager_page input[type=checkbox] {
    margin: 5px 2px;
    padding: 0px 0px;
}

#Asset\ Manager_page_row1 input {
    margin: 1px -1px;
    padding: 0px 1px 3px 1px;
    border: 2px solid #44F;
}

#Asset\ Manager_page_row0 {
    font-size: 125%;
}


/* Page - Contact */

.page_contact_list {
    width: 50%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px dashed #111;
}

.page_contact_list img {
    width: 10%;
    margin: 10px;
}

.page_contact_list h1 {
    width: 50%;
    min-width: 250px;
    font-size: 150%;
    text-align: center;
    margin: 10px auto;
}

.page_contact_list p {
    width: 50%;
    max-width: 150px;
    text-align: left;
    margin: auto 15px;
}


/* Footer */

#footer {
    font-size: 75%;
    padding: 5px;
    margin: 15px auto;
    background: #55F;
    color: #111;
    display: flex;
    border-radius: 10px;
}

#footer_note {
    width: 50%;
    padding: 4px;
    margin: 0px auto;
}

#footer_note p {
    padding: 3px;
    margin: 0px auto;
}

#footer_buttons {
    width: 50%;
    padding: 3px;
    margin: 0px auto;
}

#footer_buttons button {
    border: 2px solid #222;
    background: #44F;
}

#footer_buttons button:hover {
    background: #66F;
}


/* Debug */

#debug {
    background: #030;
    padding: 5px;
    margin: 5px auto;
    border-radius: 10px;
}

#debug_buttons {
    font-size: 75%;
}